*{
    margin: 0; padding: 0;
}
header{
    border-top: 3px solid #bb0003;
    border-bottom: 0.5px solid #bb0003;
}
header .logo{
    margin: 0 auto;
    width: 150px;
    padding: 15px;
}
.form-r{
    width: 50%;
    background-color: pink;
    height: 500px;
    margin: 0 auto;
    padding: 100px 200px;
    box-sizing: border-box;
}
.form-r .form-control{
    margin-top:15px;
}
.form-r .form-control input{
    width:100%;
    padding: 7px;
    box-sizing: border-box;
}
.form-r .btn{
    margin-top: 30px;
}
.form-r .btn input{
    background-color: red;
    border:none;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
}
.form-r .btn1 input{
    background-color: black;
    border:none;
    color: white;
    width:100%;
    box-sizing: border-box;
}

.line{
	text-align: center;
	overflow: hidden;
	margin-right: 5%;
	margin-left: 5%;
	width: 90%;
	margin-top: 15px
}
.line span{
	position: relative;	
}
.line>span:before{
	right: 100%;
	margin-right: 15px
}
.line>span:after{
	left: 100%;
	margin-left: 15px
}
.line>span:before,.line>span:after{
	content: '';
	background: red;
	height: 1px;
	width: 700px;
	position: absolute;
	top: 50%
}
.error{
    border: 1px solid red;
}
.er,.er1{
    display: none;
}